body,
html{
    width: 100%;
    height: 100%;
    font-family:Ibarra Real Nova;
    background: url(image/rose.png);
    

}

/* -------------------------- Title -------------------*/

.nav-link{
    font-size: 1rem;
    font-weight: 600;
    color:rgb(255, 255, 255);
    /* border-right:2px solid white; */
    /* margin-top: 1rem; */
}

.nav-link:hover{
    color:#706885;
}

.nav-item1{
    border-right:1px solid white;
    margin-top: 1rem;
}
.nav-item2{
    border-right:1px solid white;
    margin-top: 1rem;
}
.nav-item3{
    margin-top: 1rem;
}

.container-pic{
    -webkit-background-size:cover ;
    -moz-background-size:cover ;
    -moz-background-size:cover ;
    background-size:cover;
   
     
}

.animate__animated{
   animation:fadeIn; 
   animation-duration: 10s; 
  animation-delay: 0.6s;
}

h1{
    font-size:  4rem;
    margin-left: 2rem;
    margin-top: 2rem;
    color:rgb(255, 255, 255);
}
